button [data-target="#login_modal__target" data-toggle="modal" type="button"] 
  | Log in
#login_modal__target.modal.fade [aria-labelledby="login_modal__label" role="dialog" tabindex="-1"]
  = render "layouts/login_modal"
