button [data-target="#signup_modal__target" data-toggle="modal" type="button"] 
  | Sign up
#signup_modal__target.modal.fade [aria-labelledby="signup_modal__label" role="dialog" tabindex="-1"]
  = render "layouts/signup_modal"
