// http://guides.rubyonrails.org/working_with_javascript_in_rails.html#form-for
// http://guides.rubyonrails.org/layouts_and_rendering.html#rendering-collections

// Show error message using flash because session does not have Active Records errors.
// Add margin in order to match that of signin_modal.
$('#login_modal__errors').html('').append(
  '<div class="notification is-danger" style="margin-bottom: 20px;"><%= j(I18n.t("devise.failure.invalid")) %></div>'
);
