body {
  background-color: $body-bg;
}

// main {
//   min-height: 80vh;
// }

.turbolinks-progress-bar {
  height: 3px;
  background-color: $blue;
}


//---
// Forms
//---


.help-block {
  color: #ff3860;
  font-weight: lighter;
  font-style: italic;
}

.has-error input {
   border-color: #ff3860;
}


//---
// Buttons
//---


@mixin btn-omniauth {
  padding: 1rem;
  margin-right: 1rem;
  color: #fff !important;
}
.btn-omniauth-facebook {
  @include btn-omniauth;
  background-color: $facebook;
  border-color: lighten($facebook, 5%);
  &:hover  {
    background-color: lighten($facebook, 5%);
    border-color: lighten($facebook, 5%);
  }
}
.btn-omniauth-google {
  @include btn-omniauth;
  background-color: $googleplus;
  border-color: lighten($googleplus, 5%);
  &:hover  {

    background-color: lighten($googleplus, 5%);
    border-color: lighten($googleplus, 5%);
  }
}
.btn-omniauth-twitter {
  @include btn-omniauth;
  color: white;
  background-color: $twitter;
  &:hover  {
    color: white;
    background-color: lighten($twitter, 2%);
  }
}
